<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="/static/css/education.css">
</head>
<body>
    <div class="education">
        <div class="education-item">
            <h2>Sikkim Manipal Institute of Technology</h2>
            <p class="location">Majitar, Sikkim</p>
            <p class="dates">Sep 2022 | Present</p>
            <p>B.Tech in Computer Science and Engineering.</p>
            <p>GPA: 9.86</p>
        </div>
        <div class="education-item">
            <h2>Krishna International School</h2>
            <p class="location">Rajkot, Gujarat</p>
            <p class="dates">April 2020 | July 2022</p>
            <p>All India Senior School Certificate Examination (CBSE).</p>
        </div>
        <div class="education-item">
            <h2>Saint Paul’s School</h2>
            <p class="location">Rajkot, Gujarat</p>
            <p class="dates">2010 | 2020</p>
            <p>Indian Certificate of Secondary Education (ICSE).</p>
            <p>GPA: 93.6%</p>
        </div>
    </div>
</body>
</html>
