<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayush Benedict Singh - Profiles</title>
    <link rel="stylesheet" href="/static/css/links.css">
</head>
<body>
    <div class="container">
        <h1>Ayush Benedict Singh</h1>
        <div class="profile">
            <h2>LinkedIn</h2>
            <a href="https://www.linkedin.com/in/ayush-benedict-singh-172795253">www.linkedin.com/in/ayush-benedict-singh-172795253</a>
        </div>
        <div class="profile">
            <h2>GitHub</h2>
            <a href="https://github.com/TheBenedict09">github.com/TheBenedict09</a>
        </div>
        <div class="profile">
            <h2>Codeforces</h2>
            <a href="https://codeforces.com/profile/TheBenedict09">codeforces.com/profile/TheBenedict09</a>
        </div>
    </div>
</body>
</html>
