<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/css/projects.css">
</head>
<body>
    <div class="container">
        <h1>Projects</h1>
        <div class="project">
            <h2>Spareshare (ongoing)</h2>
            <p>
                A Extra Food Management App which helps in distribution of the excess food made in Organizations to the people in need.
            </p>
            <h3>Role:</h3>
            <p>Front-End and Back-End Developer</p>
            <h3>Tools/Technologies:</h3>
            <ul>
                <li>Flutter</li>
                <li>Android Emulator</li>
                <li>VScode</li>
                <li>Dart</li>
                <li>GitHub</li>
            </ul>
            <h3>Repository:</h3>
            <a href="https://github.com/TheBenedict09/SpareShare.git">https://github.com/TheBenedict09/SpareShare.git</a>
        </div>
    </div>
</body>
</html>
