<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume/CV</title>
    <link rel="stylesheet" href="/static/css/resume.css">
</head>
<body>
    <div class="container">
        <h1>Resume/CV</h1>
        <!-- Your resume/CV content goes here -->
        <!-- Example: -->
        <p>Your educational background, work history, skills, certifications, achievements, etc.</p>
        <div class="pdf-container">
            <embed src="/static/docs/ABS-Resume.pdf" type="application/pdf" width="100%" height="100%" />
        </div>
        <a href="index.html">Back to Homepage</a>
    </div>
</body>
</html>
